<%= link_to kitten.name, kitten%> <%= button_to 'Delete kitten', kitten, method: :delete%>

<li><%= "Age: #{kitten.age}"%></li>
<li><%= "Cuteness: #{kitten.cuteness}"%></li>
<li><%= "Softness: #{kitten.softness}"%></li>

